@import 'mixins/media';

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  @include responsive($tablet-medium) {
    align-items: flex-start;
  }
  .intro__kopiku {
    @include responsive {
      width: 100%;
      padding: 0.5rem 1rem 4rem 1rem;
    }
    @include responsive($tablet) {
      width: 50%;
      padding: 0.5rem 1rem 1rem 0.5rem;
    }
    @include responsive($tablet-medium) {
      padding: 0rem 2rem 1rem 0;
    }
    @include responsive($desktop) {
      padding: 1rem 3rem 1rem 3rem;
    }
  }
  .intro__kopiku--content {
    @include responsive {
      padding: 4rem 1rem 2rem 1rem;
    }
    @include responsive($mobile-large) {
      padding: 4rem 3rem 2rem 3rem;
    }
    @include responsive($tablet) {
      padding: 4rem 1.5rem 2rem 1.5rem;
    }
    @include responsive($tablet-medium) {
      padding: 4rem 2rem;
    }
    @include responsive($desktop) {
      padding: 5rem 2rem;
    }
  }
  .get-free-app {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      margin-right: 1rem;
      font-weight: 700;
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
    }
  }
  .get-free-app__line {
    width: 50px;
    height: 2px;
    background: #212621;
    animation: stretch-line 800ms linear;
    animation-fill-mode: both;
    animation-delay: 500ms;
  }
  .get-free-app__icon {
    padding: 0;
    width: 25px !important;
    height: 42px;
    transform: translateX(-2px);
  }
  .get-free-app__icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 0;

  }
  .order__text {
    span {
      color: #d75e0b;
    }
    @include responsive {
      font-weight: 700;
      font-size: 1.5rem;
      padding-top: 0.8rem;
    }
    @include responsive($tablet) {
      font-size: 2rem;
    }
  }
}
@include responsive {
  @keyframes stretch-line {
    from {
      width: 0px;
    }
    to {
      width: 150px;
    }
  }
}
@include responsive($tablet-medium) {
  @keyframes stretch-line {
    from {
      width: 0px;
    }
    to {
      width: 250px;
    }
  }
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  .navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navbar__menu--item {
    // padding: 1rem 0 0.5rem 0;
    .link:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  .navbar__menu--indicator-container {
    width: 100%;
    // overflow: hidden;
  }
  .navbar__menu--indicator {
    width: 1.8rem;
    height: 0.35rem;
    background: #212621;
    border-radius: 10px;
    transition: all 300ms ease-in;
  }
  .navbar__menu--item {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-weight: 700;
    color: grey;

    @include responsive {
      font-size: 0.8rem;
    }
    @include responsive($tablet) {
      font-size: 1rem;
    }
    transition: all 200ms ease-in;
    a:not(:last-child) {
      // margin-right: 1rem;
    }
    a:hover {
      color: #212621;
    }
  }
}

.app__download--play {

  padding-top: 1.5rem;
  @include responsive {
  }
  @include responsive($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include responsive($tablet-medium) {
    justify-content: flex-start;
  }
  button {
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    @include responsive {
      display: block;
    }
    &:first-child {
      background: #d75e0b;
      color: #fff;

      @include responsive {
        padding: 0.7rem 1.2rem 0.7rem 1.2rem;
        margin-bottom: 1rem;
      }
      @include responsive($tablet) {
        padding: 0.7rem 1.2rem 0.7rem 1.2rem;
        margin-bottom: 0;
      }
      @include responsive($tablet-medium) {
        padding: 0.8rem 1.8rem 0.8rem 1.8rem;
        margin-bottom: 0;
      }
    }
    &:last-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      background: none;
      @include responsive($tablet) {
        padding: 0.7rem 1.2rem 0.7rem 1.2rem;
      }
      @include responsive($tablet-medium) {
        padding: 0.8rem 1.8rem 0.8rem 1.8rem;
      }
      img {
        margin-right: 0.8rem;
        height: 40px;
      }
    }

  }
}

.ratings__downloads {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  @include responsive {
    justify-content: space-around;
  }
  @include responsive($tablet) {
    justify-content: space-evenly;
  }
  @include responsive($tablet-medium) {
    justify-content: space-between;
  }
  .ratings__divider {
    height: 8.2rem;
    width: 2px;
    background: grey;
  }
  .user__ratings, .total__downloads {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 8rem;
  }
  .user__ratings {
    // border-right: 1px solid grey;
    padding-right: 1rem;
  }
  .total__downloads {
    padding: 1rem;
  }
  .user__ratings--text, .total__downloads--text {
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
    font-size: 0.8rem;
  }


  .icon__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    background: #fff;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 1px 2px 2px 0px #c9b9b9;
    .image_container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      background: #d75e0b;
      border-radius: 100px;
    }
    img {
      filter: invert(100%);
    }
    span {
      margin-left: 0.5rem;
      font-weight: 700;
      color: #d75e0b;
    }
  }

}


.intro__app {
  @include responsive {
    display: none;
  }
  @include responsive($tablet) {
    display: block;
    width: 50%;
    height: 39rem;
    overflow: hidden;
  }
  @include responsive($tablet-medium) {

  }
  background: {
    color: #d75e0b;
    image: url(../images/bg-app.png);
    size: cover;
  };
}
