@import 'mixins/media';

.shop {
    background: #f5f5f5;

    header {
        background: #fff;
        @include responsive {
            padding: 1rem;
            width: 100%;
        }
        @include responsive($tablet) {
            padding: 1rem 3.5rem 1rem 3.5rem;
        }
    }
    .nav-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive($tablet) {
            width: 18rem;
        }
    }
    .nav-brand img {
        @include responsive {
            width: 60px;
            height: 40px;
        }
        @include responsive($tablet) {
            width: 80px;
            height: 50px;
        }
    }
    .nav-brand > div {
        p {
            color: #666;
            margin-block-start: 0;
            margin-block-end: 0.5rem;
            font-size: 0.8rem;
            font-weight: 300;
        }
        h4 {
            margin-block-start: 0.5rem;
            margin-block-end: 0;
        }
    }
    .content {
        @include responsive {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;
        }
        @include responsive($tablet) {
            padding: 3rem;
            flex-direction: row;
        }
        @include responsive($tablet-medium) {
            padding: 4rem;
        }
    }
}
.content .detail {
    @include responsive {
        width: 80vw;
        background: #fff;
        padding: 1rem;
        border-radius: 20px;
        
    }
    @include responsive($tablet) {
        width: 18rem;
        padding: 1.5rem 1.2rem 3rem 1.2rem;
        
    }
    @include responsive($tablet-medium) {
        width: 20rem;
        padding: 1rem 1.2rem 2rem 1.2rem;
    }

    .detail__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a img {
            transform: rotate(-180deg);
        }
        .fav {
            filter: invert(0.34) hue-rotate(161deg) brightness(1.11) sepia(1) saturate(5.1) !important;
        }
        p {
            font-weight: 600;
        }
    }
    .image__container {
        width: 100%;
        height: 23rem;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image__container img {
        width: 100%;
        height: 100%;
    }
    .item__group--title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h3 {
            margin: 0;
        }
        .badge {
            padding: 0.2rem;
            background: #dac1af;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .badge img {
            margin-right: 0.5rem;
            margin-left: 0.1rem;
            width: 16px;
            height: 16px;
            filter: invert(0.34) hue-rotate(161deg) brightness(1.11) sepia(1) saturate(5.1) !important;
        }
        .badge span {
            font-size: 0.9rem;
            color: #d47530;
            font-weight: 500;
            margin-right: 0.1rem;
        }
    }
    .sub__title {
        margin: 0.5rem 0 0 0;
        font-size: 0.8rem;
        color: #666;
    }
    .pack__group {
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            padding: 10px 15px 10px 15px;
            border-radius: 20px;
            border: none;
            font-size: 0.8rem;
        }
        button:not(.selected) {
            background-color: lightgrey;
            color: gray;
        }
        button.selected {
            background-color: gray;
            font-weight: 600;
            color: #000;
        }
    }
    .sub__add--group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        button {
            border: none;
            background: #fff;
        }
        p {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
    .add-to__cart--group {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .price__group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .price__group p {
        color: #666;
        margin: 0;
        font-size: 0.6rem;
    }
    .price__group h5 {
        margin: 0.5rem 0;
    }
    .add__to--cart {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        border-radius: 20px;
        border: none;
        background: #000;
        outline: none;
        color: #fff;
        margin-left: 3rem;
        &:hover {
            background: #d47530;
        }
    }
    .add__to--cart img {
        width: 15px;
        height: 15px;
        margin-right: 0.7rem;
        margin-left: 1rem;
        filter: invert(1);
    }
    .add__to--cart span {
        font-size: 0.8rem;
        margin-right: 1rem;
    }
    
}

.more__beans {
        @include responsive {
            // padding: 1rem;
            width: 100%;
        }
        @include responsive($tablet) {
            width: 20rem;
        }
} 
.more__beans--item {
    background: #fff;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    h4 {
        font-weight: 500;
    }
    p {
        font-size: 0.8rem;
        font-weight: 400;
        color: gray;
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
    }
    h5 {
        margin-block-start: 0.5rem;
        margin-block-end: 1rem;
    }
    
}
.more__bean--img_container {
    padding: 1rem;
}
.more__beans--item a {
    padding: 8px 3rem 10px 3rem;
    margin-block-end: 1rem;
    font-weight: 400;
    border-radius: 20px;
    background: lightgrey;
    border: none;
}