@import 'mixins/media';

.shop {
    background: #f5f5f5;

    header {
        background: #fff;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        @include responsive {
            padding: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @include responsive($tablet) {
            padding: 1rem 3.5rem 1rem 3.5rem;
        }
    }
    .nav-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive($tablet) {
            width: 18rem;
        }
    }
    .nav-brand a {
        margin-right: 1rem;
    }
    .nav-brand img {
        @include responsive {
            width: 60px;
            height: 40px;
        }
        @include responsive($tablet) {
            width: 80px;
            height: 50px;
        }
    }
    .nav-brand > div {
        p {
            color: #666;
            margin-block-start: 0;
            margin-block-end: 0.5rem;
            font-size: 0.8rem;
            font-weight: 300;
        }
        h4 {
            margin-block-start: 0.5rem;
            margin-block-end: 0;
        }
    }
    .cart__button {
       
        &:hover .cart__button--container {
            background: #d47530;
        }
        &:hover .cart__button--container img {
            filter: invert(1);
        }
        &:hover .cart__button--container span {
            background: #fff;
            color: #d47530;
            border: 1px solid #d47530;
        }
    }
    .cart__button--container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        border: 1px solid #dac1af;
    }
    .cart__button--container img {
        width: 25px;
    }
    .cart__button--container span {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        background: #d47530;
        color: #fff;
        font-size: 0.75rem;
        border-radius: 100px;
    }
    .content {
        @include responsive {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            padding: 1.5rem;
        }
        @include responsive($tablet) {
            padding: 3rem;
            align-items: flex-start;
            flex-direction: row;
            column-gap: 2rem;
        }
        @include responsive($tablet-medium) {
            padding: 4rem;
        }
    }
}
.content .detail {
    @include responsive {
        width: 100%;
        background: #fff;
        padding: 1rem;
        margin-bottom: 2rem;
        border-radius: 20px;
        
    }
    @include responsive($mobile-large) {
        width: 20rem;
    }
    @include responsive($tablet) {
        width: 18rem;
        padding: 1.5rem 1.2rem 3rem 1.2rem;
        
    }
    @include responsive($tablet-medium) {
        width: 20rem;
        padding: 1rem 1.2rem 2rem 1.2rem;
    }
    @include responsive($tablet-large) {
        width: 18rem;
    }

    .detail__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a img {
            transform: rotate(-180deg);
        }
        .fav {
            filter: invert(0.34) hue-rotate(161deg) brightness(1.11) sepia(1) saturate(5.1) !important;
        }
        p {
            font-weight: 600;
        }
    }
    .image__container {
        width: 100%;
        height: 23rem;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include responsive($tablet) {
            height: 16rem;
        }
        @include responsive($tablet-large) {
            height: 18rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    .image__container img {
        width: 100%;
        height: 100%;
    }
    .item__group--title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h3 {
            margin: 0;
        }
        .badge {
            padding: 0.2rem;
            background: #dac1af;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .badge img {
            margin-right: 0.5rem;
            margin-left: 0.1rem;
            width: 16px;
            height: 16px;
            filter: invert(0.34) hue-rotate(161deg) brightness(1.11) sepia(1) saturate(5.1) !important;
        }
        .badge span {
            font-size: 0.9rem;
            color: #d47530;
            font-weight: 500;
            margin-right: 0.1rem;
        }
    }
    .sub__title {
        margin: 0.5rem 0 0 0;
        font-size: 0.8rem;
        color: #666;
    }
    .pack__group {
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            padding: 10px 15px 10px 15px;
            border-radius: 20px;
            border: none;
            font-size: 0.8rem;
        }
        button:not(.selected) {
            background-color: lightgrey;
            color: gray;
        }
        button.selected {
            background-color: gray;
            font-weight: 600;
            color: #000;
        }
    }
    .sub__add--group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        button {
            border: none;
            background: #fff;
        }
        p {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
    .add-to__cart--group {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .price__group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .price__group p {
        color: #666;
        margin: 0;
        font-size: 0.6rem;
    }
    .price__group h5 {
        margin: 0.5rem 0;
    }
    .add__to--cart {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        border-radius: 20px;
        border: none;
        background: #000;
        outline: none;
        color: #fff;
        margin-left: 3rem;
        &:hover {
            background: #d47530;
        }
    }
    .add__to--cart img {
        width: 15px;
        height: 15px;
        margin-right: 0.7rem;
        margin-left: 1rem;
        filter: invert(1);
    }
    .add__to--cart span {
        font-size: 0.8rem;
        margin-right: 1rem;
    }
    
}

.more__beans {
    @include responsive {
        width: 100%;
    }
    @include responsive($mobile-large) {
    width: 20rem;
    }
    @include responsive($tablet) {
        width: 18rem;
    }
} 
.more__beans--item {
    background: #fff;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    h4 {
        font-weight: 500;
    }
    p {
        font-size: 0.8rem;
        font-weight: 400;
        color: gray;
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
    }
    h5 {
        margin-block-start: 0.5rem;
        margin-block-end: 1rem;
    }
    
}
.more__bean--img_container {
    padding: 1rem;
}
.more__beans--item a {
    padding: 8px 3rem 10px 3rem;
    margin-block-end: 1rem;
    font-weight: 400;
    border-radius: 20px;
    background: lightgrey;
    border: none;
    &:hover {
        background: #d47530;
        color: #fff;
    }
}

.text-center {
    text-align: center;
}
.flex {
    display: flex;
}
.flex-just-align-start {
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-between {
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.mr-1 {
    margin-right: 1rem;
}
.bold-500 {
    font-weight: 500;
}
.bold-600 {
    font-weight: 600;
}
.text-gray {
    color: gray;
}

.cart {
    @include responsive {
        width: 100%;
        padding: 1.5rem;
        background: #fff;
        border-radius: 20px;
    }
    @include responsive($mobile-large) {
        width: 20rem;
    }
    @include responsive($tablet) {
        width: 16rem;

    }
    @include responsive($tablet-large) {
        width: 18rem;
    }
    p.count {
        padding: 0.5rem 2rem 0.5rem 2rem;
        border-radius: 20px;
        color: #d47530;
        background: #dac1af;
        font-size: 0.8rem;
    }
    .cart__item {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid gray;
    }
    .title-weight-quantity {
        p.title {
            margin-block-start: 0;
            margin-block-end: 0.2rem;
        }
    }
   
    .sub__add--group button {
        border: none;
        background: none;
    }
    .checkout {
        background: #000;
        color: #fff;
        padding: 1rem 4.5rem 1rem 4.5rem;
        width: 100%;
        border-radius: 30px;
        font-weight: 400;
        font-size: 1rem;
        margin-top: 1rem;
        border: none;
        &:hover {
            color: #fff;
            background: #d47530;
        }
    }
}