.shop {
  background: #f5f5f5;
}
.shop header {
  background: #fff;
}
@media screen and (min-width: 320px) {
  .shop header {
    padding: 1rem;
    width: 100%;
  }
}
@media screen and (min-width: 810px) {
  .shop header {
    padding: 1rem 3.5rem 1rem 3.5rem;
  }
}
.shop .nav-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 810px) {
  .shop .nav-brand {
    width: 18rem;
  }
}
@media screen and (min-width: 320px) {
  .shop .nav-brand img {
    width: 60px;
    height: 40px;
  }
}
@media screen and (min-width: 810px) {
  .shop .nav-brand img {
    width: 80px;
    height: 50px;
  }
}
.shop .nav-brand > div p {
  color: #666;
  margin-block-start: 0;
  margin-block-end: 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
}
.shop .nav-brand > div h4 {
  margin-block-start: 0.5rem;
  margin-block-end: 0;
}
@media screen and (min-width: 320px) {
  .shop .content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media screen and (min-width: 810px) {
  .shop .content {
    padding: 3rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 961px) {
  .shop .content {
    padding: 4rem;
  }
}

@media screen and (min-width: 320px) {
  .content .detail {
    width: 80vw;
    background: #fff;
    padding: 1rem;
    border-radius: 20px;
  }
}
@media screen and (min-width: 810px) {
  .content .detail {
    width: 18rem;
    padding: 1.5rem 1.2rem 3rem 1.2rem;
  }
}
@media screen and (min-width: 961px) {
  .content .detail {
    width: 20rem;
    padding: 1rem 1.2rem 2rem 1.2rem;
  }
}
.content .detail .detail__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .detail .detail__bar a img {
  transform: rotate(-180deg);
}
.content .detail .detail__bar .fav {
  filter: invert(0.34) hue-rotate(161deg) brightness(1.11) sepia(1) saturate(5.1) !important;
}
.content .detail .detail__bar p {
  font-weight: 600;
}
.content .detail .image__container {
  width: 100%;
  height: 23rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .detail .image__container img {
  width: 100%;
  height: 100%;
}
.content .detail .item__group--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .detail .item__group--title h3 {
  margin: 0;
}
.content .detail .item__group--title .badge {
  padding: 0.2rem;
  background: #dac1af;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .detail .item__group--title .badge img {
  margin-right: 0.5rem;
  margin-left: 0.1rem;
  width: 16px;
  height: 16px;
  filter: invert(0.34) hue-rotate(161deg) brightness(1.11) sepia(1) saturate(5.1) !important;
}
.content .detail .item__group--title .badge span {
  font-size: 0.9rem;
  color: #d47530;
  font-weight: 500;
  margin-right: 0.1rem;
}
.content .detail .sub__title {
  margin: 0.5rem 0 0 0;
  font-size: 0.8rem;
  color: #666;
}
.content .detail .pack__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content .detail .pack__group button {
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 0.8rem;
}
.content .detail .pack__group button:not(.selected) {
  background-color: lightgrey;
  color: gray;
}
.content .detail .pack__group button.selected {
  background-color: gray;
  font-weight: 600;
  color: #000;
}
.content .detail .sub__add--group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.content .detail .sub__add--group button {
  border: none;
  background: #fff;
}
.content .detail .sub__add--group p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.content .detail .add-to__cart--group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content .detail .price__group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.content .detail .price__group p {
  color: #666;
  margin: 0;
  font-size: 0.6rem;
}
.content .detail .price__group h5 {
  margin: 0.5rem 0;
}
.content .detail .add__to--cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 20px;
  border: none;
  background: #000;
  outline: none;
  color: #fff;
  margin-left: 3rem;
}
.content .detail .add__to--cart:hover {
  background: #d47530;
}
.content .detail .add__to--cart img {
  width: 15px;
  height: 15px;
  margin-right: 0.7rem;
  margin-left: 1rem;
  filter: invert(1);
}
.content .detail .add__to--cart span {
  font-size: 0.8rem;
  margin-right: 1rem;
}

@media screen and (min-width: 320px) {
  .more__beans {
    width: 100%;
  }
}
@media screen and (min-width: 810px) {
  .more__beans {
    width: 20rem;
  }
}

.more__beans--item {
  background: #fff;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-start h4 {
  font-weight: 500;
}
.flex-start p {
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}
.flex-start h5 {
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}

.more__bean--img_container {
  padding: 1rem;
}

.more__beans--item a {
  padding: 8px 3rem 10px 3rem;
  margin-block-end: 1rem;
  font-weight: 400;
  border-radius: 20px;
  background: lightgrey;
  border: none;
}

/*# sourceMappingURL=shop.css.map */
