@media screen and (min-width: 320px) {
  .view-all {
    padding: 2rem 1.5rem 1rem 1.5rem;
  }
}
@media screen and (min-width: 810px) {
  .view-all {
    padding: 5rem 4rem 0rem 4rem;
  }
}
.view-all .view-all__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .view-all .view-all__button-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 810px) {
  .view-all .view-all__button-container {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 961px) {
  .view-all .view-all__button-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
}
.view-all .view-all__button {
  border: none;
  outline: none;
  padding: 0.7rem 2rem 0.7rem 2rem;
  font-size: 0.8rem;
  background: #d77938;
  color: #fff;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.view-all .view-all__button:hover {
  background: #976948;
}
.view-all .view-all__offers {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .view-all .view-all__offers {
    justify-content: center;
    flex-direction: column-reverse;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 810px) {
  .view-all .view-all__offers {
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    background-image: url(../images/bg-offer.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
@media screen and (min-width: 810px) {
  .view-all .view-all__offers--image-container {
    position: relative;
    top: -2rem;
    padding-left: 2.7rem;
    height: 18rem;
  }
}
@media screen and (min-width: 961px) {
  .view-all .view-all__offers--image-container {
    top: -2.5rem;
    padding-left: 3rem;
    height: 25rem;
  }
}
.view-all .view-all__offers--image {
  opacity: 0;
}
@media screen and (min-width: 320px) {
  .view-all .view-all__offers--image {
    width: 70vw;
    height: auto;
  }
}
@media screen and (min-width: 810px) {
  .view-all .view-all__offers--image {
    width: 18rem;
    height: 20rem;
  }
}
@media screen and (min-width: 961px) {
  .view-all .view-all__offers--image {
    width: 27rem;
    height: 27.5rem;
  }
}

.animate__view-all__offers--image {
  animation: slide-up-offer 1000ms ease-in;
  animation-fill-mode: both;
}

@keyframes slide-up-offer {
  0%, 50% {
    opacity: 0;
    transform: translateY(17rem);
  }
  90% {
    opacity: 0.1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 320px) {
  .view-all__offers--text-container {
    padding: 1rem;
  }
}
@media screen and (min-width: 810px) {
  .view-all__offers--text-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0rem;
    padding-left: 2rem;
  }
}
.view-all__offers--text-container .view-all__offers--text-header {
  font-weight: 700;
  color: #fff;
}
@media screen and (min-width: 320px) {
  .view-all__offers--text-container .view-all__offers--text-header {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 810px) {
  .view-all__offers--text-container .view-all__offers--text-header {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 961px) {
  .view-all__offers--text-container .view-all__offers--text-header {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 320px) {
  .view-all__offers--text-container .view-all__offers--text-header:not(span) {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 810px) {
  .view-all__offers--text-container .view-all__offers--text-header:not(span) {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 961px) {
  .view-all__offers--text-container .view-all__offers--text-header:not(span) {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 320px) {
  .view-all__offers--text-container .view-all__offers--text-header span {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 810px) {
  .view-all__offers--text-container .view-all__offers--text-header span {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 961px) {
  .view-all__offers--text-container .view-all__offers--text-header span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 320px) {
  form.view-all__offers-signup-form {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 810px) {
  form.view-all__offers-signup-form {
    margin-top: 0rem;
    padding-right: 3rem;
  }
}
form.view-all__offers-signup-form label {
  color: #fff;
  padding: 1rem 1rem 1rem 0;
}
form.view-all__offers-signup-form .offer-input {
  border: none;
  outline: none;
  width: 100%;
  height: 2.5rem;
  background: none;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  color: #fff;
}
form.view-all__offers-signup-form .offer-input:focus, form.view-all__offers-signup-form .offer-input :active {
  background: none;
}
form.view-all__offers-signup-form input:-internal-autofill-selected {
  background-color: transparent !important;
  color: #fff !important;
}
form.view-all__offers-signup-form .submit-for-offer {
  padding: 0.5rem;
  width: 7rem;
  height: 2.5rem;
  border: none;
  background: #d77938;
  color: #fff;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
form.view-all__offers-signup-form .submit-for-offer:hover {
  background: #976948;
}
form.view-all__offers-signup-form .offer-form-group {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem 0;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 0.2rem;
  overflow: hidden;
}

/*# sourceMappingURL=view-all.css.map */
